@import "basic";

footer{
    width: 100%;
    background-color: map-get( $colores , azul-principal);
    height: 100px;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-content: center;
}
 .bi-facebook, .bi-instagram, .bi-whatsapp{
     color: whitesmoke;
     &:hover{
         position: relative;
         align-content: center;
         font-size: 2rem;
         color: map-get( $colores, gris-claro);
         @extend .transition;
     }
 }

 .alto-8{
    @include tamano (8rem, auto)
}